<div data-role="header" class="header">
  <nav data-role="navbar" data-grid-"d">
  <ul>
     <li><a href="/" class="ui-btn-active">UCSB CS56 pconrad</a></li>
    <li><a href="https://ucsb-cs56-f16.github.io">CS56 F16</a></li>
    <li><a href="{{site.legacy_wiki_url}}">{{site.legacy_wiki_name}}</a></li>
    <li><a href="{{site.office_hours_page}}">Office Hours</a></li>
  </ul>
 </nav>
 <nav data-role="navbar" data-grid-"d">
  <ul>
   <li><a href="https://gauchospace.ucsb.edu/courses/course/view.php?id=13097">Gauchospace</a></li>
   <li><a href="https://piazza.com/class/isuhkdtldq24f1">Piazza</a></li>
   <li><a href="https://github.com/UCSB-CS56-F16">F16 github</a></li>
   <li><a href="https://github.com/UCSB-CS56-Projects">projects</a></li>
  </ul>
 </nav>
 
 
</div>
