<div data-role="header" class="header">
  <nav data-role="navbar" data-grid-"d">
  <ul>
     <li><a href="/" class="ui-btn-active">UCSB CS56 pconrad</a></li>
    <li><a href="{{site.curr_qtr_web_url}}">{{site.course}} {{site.curr_qtr}}</a></li>
    <li><a href="{{site.legacy_wiki_url}}">{{site.legacy_wiki_name}}</a></li>
    <li><a href="{{site.office_hours_page}}">Office Hours</a></li>
  </ul>
 </nav>
   
 <nav data-role="navbar" data-grid-"d">
  <ul>
   <li><a href="{{site.gauchospace_course_page}}">Gauchospace</a></li>
   <li><a href="{{site.piazza_course_page}}">Piazza</a></li>
   <li><a href="{{site.curr_qtr_github_org_url}}">{{site.curr_qtr}} github</a></li>
   <li><a href="https://github.com/UCSB-CS56-Projects">projects</a></li>
  </ul>
 </nav>
 
 
</div>
