<div data-role="header" class="header">
  <nav data-role="navbar" >
  <ul>
     <li><a href="/" class="ui-btn-active">UCSB CS56 pconrad</a></li>
    <li><a href="{{site.curr_qtr_web_url}}">{{site.course}} {{site.curr_qtr}}</a></li>
    <li><a href="https://github.com/ucsb-cs56-pconrad">ucsb-cs56-pconrad github org</a></li>
    <li><a href="{{site.office_hours_page}}">Office Hours</a></li>
  </ul>
 </nav>
   
 
  <nav data-role="navbar" >
  <ul>
   <li><a href="{{site.gauchospace_course_page}}">Gauchospace</a></li>
   <li><a href="{{site.piazza_url}}">Piazza</a></li>
   <li><a href="{{site.github_org_url}}">{{site.github_org_name}} github org</a></li>
   <li><a href="https://github.com/ucsb-cs56-webapps">ucsb-cs56-webapps</a></li>
  </ul>
 </nav>
  
  
  
</div>
